*.xor
*~
sw/jetty/logs
sw/jetty/temp
webapps/ROOT/WEB-INF/logs
webapps/openrdf-sesame/app_dir/OpenRDF\ sesame/logs
webapps/ROOT/content/xml/.DS_Store
webapps/ROOT/content/.DS_Store
webapps/ROOT/.DS_Store
webapps/ROOT/content/xml/epidoc/.DS_Store
webapps/ROOT/content/xml/tei/.DS_Store
webapps/ROOT/content/fiscus_framework/.DS_Store
webapps/ROOT/content/fiscus_framework/resources/.DS_Store
webapps/ROOT/content/fiscus_framework/templates/.DS_Store
webapps/ROOT/content/fiscus_framework/css/.DS_Store