ul.index-instances { }

.index-instance-file {
    font-weight: bolder;
}

.index-instance-text-parts { }

.index-instance-line { }

footer {
    background: none repeat scroll 0 0 #fafafa;
    border-top: 1px solid #eeeeee;
    color: #777777;
    font-size: 80%;
    padding: 1em;
}

#site-name {
    font-family: Caveat, serif;
    font-variant: small-caps;
    font-size: 46px;
}

body {
    background-color: #e9e3ce;
}

h1 {
    font-size: 26px;
}