ul.index-instances {
}

.index-instance-file {
    font-weight: bolder;
}

.index-instance-file-date, .index-instance-file-keys, .index-instance-file-links {
    font-weight: normal;
    color: black;
}
.index-instance-text-parts {
}

.index-instance-line {
}


/* general settings */
p {
    line-height: 30px;
    text-align: justify;
}

* {
    font-family: Helvetica, serif;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
    color: #005471;
}

h1 {
    color: #3A2A4C;
    font-size: 36px;
}

b {
    color: #3A2A4C;
}


/* header */
nav.top-bar, nav.top-bar ul.right li, nav.top-bar ul.left * {
    background-color: #3A2A4C;
    font-size: 14px;
    font-weight: 400;
}

#site-name {
    background-color: #3A2A4C;
    padding: 45px 0 20px 0;
    margin: -12px 0 -10px 0;
    color: #A96D2D;
    font-family: Quicksand, Helvetica, serif;
    font-weight: 400;
    font-size: 48px;
}

#logo {
    padding-bottom: 1em;
}


/* homepage */
#home-text {
    text-align: justify;
    font-size: 16px;
}

#site-image {
    height: 100px;
    margin-left:20px;
    margin-bottom:10px;
}

#fiscal_estate {
    font-size: 28px;
}

#credits p {
    text-align: center;
}


/* documents */
div#commentary, div#bibliography {
    padding-top: 40px;
    text-align: justify;
}

div#edition {
    padding-top: 20px;
}


/* lists and team members */
div.list_item {
    padding-bottom: 2em;
}

.linked_item {
margin-top:10px;
margin-bottom:0;
margin-left:20px;
}

.item_name, #team_members b {
    font-weight: bold;
    color: #3A2A4C;
    font-size: 20px;
    padding-bottom: 0;
    font-variant: small-caps;
}

#team_members h3 {
    font-size: 26px;
    color: #3A2A4C;
    padding-top: 30px;
    padding-bottom: 10px;
    font-variant: small-caps;
}

/* Back to top arrow */
#scroll {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #3A2A4C;
  color: white;
  cursor: pointer;
  padding: 20px;
  font-size: 20px;
  margin: 4px 2px;
  border-radius: 50%;
}

#scroll:hover {
  background-color: #555;
}

/**************************************************************************/
/* Maps and graphs */

.map_box, .network_box {
    padding: 10px 15px 30px 15px;
    background-color: white;
    width: 100%;
}

.map {
    height: 600px;
}

.map_jp {
    height: 400px;
}

#mynetwork, #mygraph {
    height: 89vh;
    border: 1px solid lightgray;
}

.legend p {
    text-align: center;
    font-size: 12px;
    border: 1px solid lightgray;
    margin: 0;
    padding-top: 5px;
}

.mapicon {
    height: 17px;
    margin: 5px;
}

#inputSearch {
    width: 300px;
    display: inline;
}

.block {
    display:block;
}

.button, .button:hover, .button:enabled {
    background-color: #f6f6f6;
    border-style: none;
    padding: 7px;
    color: black;
    margin: 4px;
}

/* Labels in graph legend */
.people_label, .jp_label, .places_label, .estates_label {
    padding:2px;
    margin-right:3px;
    margin-left:10px;
}

.people_label {
    background-color:#ffffcc;
    margin-left:0;
}

.jp_label {
    background-color:#ffe6e6;
}

.estates_label {
    background-color:#ccffcc;
}

.places_label {
    background-color:#e6e6ff;
}

.red_label {
    color:red;
}

#mygraph_box .red_label {
    margin-left:10px;
}

.green_label {
    color:green;
    margin-left:10px;
}

.blue_label {
    color:blue;
    margin-left:10px;
}

.yellow_label {
    color:yellow;
    margin-left:10px;
}

.relations_label {
    margin-left:10px;
}


/*autocomplete*/
.autocomplete {
  width: 300px;
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}


/* Tagged terms in the text */
.hidden {
    display:none;
}

._rs {
    display: inline !important;
    border-style: dashed !important;
    border-color: black !important;
    border-width: thin !important;
    padding: 4px 1px 1px 1px;
}
._persName {
    display: inline !important;
    background-color: #ffffcc !important;
    padding: 4px 0px 1px 0px;
}
._orgName {
    display: inline !important;
    background-color: #ffe6e6 !important;
    padding: 4px 0px 1px 0px;
}
._geogName {
    display: inline !important;
    background-color: #ccffcc !important;
    padding: 4px 0px 1px 0px;
}
._placeName {
    display: inline !important;
    background-color: #e6e6ff !important;
    padding: 4px 0px 1px 0px;
}
._date {
    display: inline !important;
    background-color: #ffccff !important;
    padding: 4px 0px 1px 0px;
}

._links {
    display: inline !important;
    color: #005471 !important;
}

#toggle_buttons button {
    margin: 5px;
    font-weight: normal;
    color: black;
}

#toggle_rs, #toggle_persName, #toggle_orgName, #toggle_geogName, #toggle_placeName, #toggle_date, #toggle_links {
    background-color: #f6f6f6;
    border-style: none;
    padding: 8px 8px 6px 8px;
}


/*Keyboard*/
#keyboard_box {
    display: none;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 4em;
    float: none;
    width: 300px;
    height: 300px;
}
#keyboard li {
    font-size: 18px;
    list-style: none;
    float: left;
    margin: 0 5px 5px 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background: #F0F0F0;
    border-radius: 5px;
}
#keyboard li:hover {
    border: none;
    background-color: #e5e5e5;
    cursor: pointer;
}

/* Cytoscape Panzoom */
.cy-panzoom {
	position: absolute;
	font-size: 12px;
	color: #fff;
	font-family: arial, helvetica, sans-serif;
	line-height: 1;
	color: #666;
	font-size: 11px;
	z-index: 99999;
	box-sizing: content-box;
}

.cy-panzoom-zoom-button {
	cursor: pointer;
	padding: 3px;
	text-align: center;
	position: absolute;
	border-radius: 3px;
	width: 10px;
	height: 10px;
	left: 16px;
	background: #fff;
	border: 1px solid #999;
	margin-left: -1px;
	margin-top: -1px;
	z-index: 1;
	box-sizing: content-box;
}

.cy-panzoom-zoom-button:active,
.cy-panzoom-slider-handle:active,
.cy-panzoom-slider-handle.active {
	background: #ddd;
	box-sizing: content-box;
}

.cy-panzoom-pan-button {
	position: absolute;
	z-index: 1;
	height: 16px;
	width: 16px;
	box-sizing: content-box;
}

.cy-panzoom-reset {
	top: 55px;
	box-sizing: content-box;
}

.cy-panzoom-zoom-in {
	top: 80px;
	box-sizing: content-box;
}

.cy-panzoom-zoom-out {
	top: 197px;
	box-sizing: content-box;
}

.cy-panzoom-pan-up {
	top: 0;
	left: 50%;
	margin-left: -5px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #666;
	box-sizing: content-box;
}

.cy-panzoom-pan-down {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #666;
	box-sizing: content-box;
}

.cy-panzoom-pan-left {
	top: 50%;
	left: 0;
	margin-top: -5px;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid #666;
	box-sizing: content-box;
}

.cy-panzoom-pan-right {
	top: 50%;
	right: 0;
	margin-top: -5px;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #666;
	box-sizing: content-box;
}

.cy-panzoom-pan-indicator {
	position: absolute;
	left: 0;
	top: 0;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	background: #000;
	border-radius: 8px;
	margin-left: -5px;
	margin-top: -5px;
	display: none;
	z-index: 999;
	opacity: 0.6;
	box-sizing: content-box;
}

.cy-panzoom-slider {
	position: absolute;
	top: 97px;
	left: 17px;
	height: 100px;
	width: 15px;
	box-sizing: content-box;
}

.cy-panzoom-slider-background {
	position: absolute;
	top: 0;
	width: 2px;
	height: 100px;
	left: 5px;
	background: #fff;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	box-sizing: content-box;
}

.cy-panzoom-slider-handle {
	position: absolute;
	width: 16px;
	height: 8px;
	background: #fff;
	border: 1px solid #999;
	border-radius: 2px;
	margin-left: -2px;
	z-index: 999;
	line-height: 8px;
	cursor: default;
	box-sizing: content-box;
}

.cy-panzoom-slider-handle .icon {
	margin: 0 4px;
	line-height: 10px;
	box-sizing: content-box;
}

.cy-panzoom-no-zoom-tick {
	position: absolute;
	background: #666;
	border: 1px solid #fff;
	border-radius: 2px;
	margin-left: -1px;
	width: 8px;
	height: 2px;
	left: 3px;
	z-index: 1;
	margin-top: 3px;
	box-sizing: content-box;
}

.cy-panzoom-panner {
	position: absolute;
	left: 5px;
	top: 5px;
	height: 40px;
	width: 40px;
	background: #fff;
	border: 1px solid #999;
	border-radius: 40px;
	margin-left: -1px;
	box-sizing: content-box;
}

.cy-panzoom-panner-handle {
	position: absolute;
	left: 0;
	top: 0;
	outline: none;
	height: 40px;
	width: 40px;
	position: absolute;
	z-index: 999;
	box-sizing: content-box;
}

.cy-panzoom-zoom-only .cy-panzoom-slider,
.cy-panzoom-zoom-only .cy-panzoom-panner {
	display: none;
}

.cy-panzoom-zoom-only .cy-panzoom-reset {
	top: 20px;
}

.cy-panzoom-zoom-only .cy-panzoom-zoom-in {
	top: 45px;
}

.cy-panzoom-zoom-only .cy-panzoom-zoom-out {
	top: 70px;
}


/*Fonts*/
@font-face {
    font-family: "Quicksand";
    src: url('fonts/quicksand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "New Athena Unicode";
    src: url('fonts/nau.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "New Athena Unicode";
    src: url('fonts/nauBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "New Athena Unicode";
    src: url('fonts/nauItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "New Athena Unicode";
    src: url('fonts/nauBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}