ul.index-instances {
}

.index-instance-file {
    font-weight: bolder;
}

.index-instance-file-date, .index-instance-file-keys, .index-instance-file-links {
    font-weight: normal;
    color: black;
}
.index-instance-text-parts {
}

.index-instance-line {
}

footer {
    background: none repeat scroll 0 0 #fafafa;
    border-top: 1px solid #eeeeee;
    color: #777777;
    font-size: 80%;
    padding: 1em;
}

div.list_item {
    padding-bottom: 2em;
}

.map {
    width: 100%;
    height: 600px;
    margin-bottom: 5em;
    margin-top: 4em;
}

.item_name {
    font-weight: bold;
    color: #168059;
}

.linked_item {
margin-top:10px;
margin-bottom:0;
margin-left:20px;
}

nav.top-bar,
nav.top-bar ul.right li,
nav.top-bar ul.left * {
    background-color: #168059;
    font-size: 14px;
    font-weight: 400;
}

* {
    font-family: Helvetica, serif;
}

#home-text {
    text-align: justify;
    font-size: 16px;
}

#site-name {
    background-color: #168059;
    padding: 50px 0 40px 0;
    margin: -12px 0 -10px 0;
    color: white;
    font-family: Helvetica, serif;
    font-weight: 400;
    font-size: 24px;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
    color: #207C97;
}

h1 {
    color: #168059;
    font-size: 36px;
}

div#commentary,
div#bibliography {
    padding-top: 40px;
    text-align: justify;
}

div#edition {
    padding-top: 20px;
}

b {
    color: #168059;
}

#team_members strong {
    font-variant: small-caps;
    font-size: 22px;
    font-weight: 400;
    color: #168059;
}

p {
    line-height: 30px;
    text-align: justify;
}

/* Tagged terms in the text */
._rs {
    border-style: dashed !important;
    border-color: black !important;
    border-width: thin !important;
    padding: 4px 2px 1px 2px;
}
._persName {
    background-color: #ffffcc !important;
    padding: 4px 0px 1px 0px;
}
._orgName {
    background-color: #ffe6e6 !important;
    padding: 4px 0px 1px 0px;
}
._geogName {
    background-color: #ccffcc !important;
    padding: 4px 0px 1px 0px;
}
._placeName {
    background-color: #e6e6ff !important;
    padding: 4px 0px 1px 0px;
}
._date {
    background-color: #ffccff !important;
    padding: 4px 0px 1px 0px;
}

#toggle_buttons button {
    margin: 5px;
    font-weight: normal;
    color: black;
}

#toggle_rs {
    background-color: #f6f6f6;
    border-style: none;
    padding: 8px 8px 6px 8px;
    /*background-color: white;
    border-style: dashed;
    border-color: black;
    border-width: thin;
    padding: 6px 6px 4px 6px;*/
}
#toggle_persName {
    background-color: #f6f6f6;
    /*background-color: #ffffcc;*/
    border-style: none;
    padding: 8px 8px 6px 8px;
}
#toggle_orgName {
    background-color: #f6f6f6;
    /*background-color: #ffe6e6;*/
    border-style: none;
    padding: 8px 8px 6px 8px;
}
#toggle_geogName {
    background-color: #f6f6f6;
    /*background-color: #ccffcc;*/
    border-style: none;
    padding: 8px 8px 6px 8px;
}
#toggle_placeName {
    background-color: #f6f6f6;
    /*background-color: #e6e6ff;*/
    border-style: none;
    padding: 8px 8px 6px 8px;
}
#toggle_date {
    background-color: #f6f6f6;
    /*background-color: #ffccff;*/
    border-style: none;
    padding: 8px 8px 6px 8px;
}

/*Keyboard*/
#keyboard_box {
    display: none;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 4em;
    float: none;
    width: 300px;
    height: 300px;
}
#keyboard li {
    font-size: 18px;
    list-style: none;
    float: left;
    margin: 0 5px 5px 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background: #F0F0F0;
    border-radius: 5px;
}
#keyboard li:hover {
    border: none;
    background-color: #e5e5e5;
    cursor: pointer;
}

/*Fonts*/
@font-face {
    font-family: "New Athena Unicode";
    src: url('fonts/nau.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "New Athena Unicode";
    src: url('fonts/nauBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "New Athena Unicode";
    src: url('fonts/nauItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "New Athena Unicode";
    src: url('fonts/nauBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}